.Home {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 139px);
    margin-bottom: 139px;
    @media screen and (max-width: 767px) {
        min-height: calc(100vh - (100vw/6) - 64px);
        margin-bottom: calc(100% / 6);
    }

    &__container {
        flex: 0 1 100%;

        &__section {
            padding: 32px;
        }
    
        &__translink {
            display: flex;
            flex-wrap: wrap;
    
            @media screen and (max-width: 767px) {
                justify-content: space-between;
            }
        }
        &__smart {
            background: #eeeeee;
        }
        &__fact {
            padding: 0;
        }
    }
}