.TranslinkHome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--color-black);
    border-radius: 5px;
    height: 100%;
    font-family: 'PT Mono', monospace;

    margin-right: 32px;
    
    @media screen and (max-width: 767px) {
        flex: 0 0 45%;
        margin-bottom: 32px;
        margin-right: 0;
    }

    @media screen and (max-width: 400px) {
        flex: 1 0 100%;
    }

    &:last-child {
        margin-right: 0;
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    &.loading {
        background: #efefef;
        height: 214px;
    }

    &.active {
        .TranslinkHome {
            &__stops {
                max-height: calc(18px * 11);
            }
            &__expand {
                &:after {
                    content: '▲';
                }
            }
        }
    }

    &__stops {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex: 1 0 auto;
        max-height: calc(18px * 5);
        overflow: hidden;
        transition: max-height 0.5s ease;
        margin: 15px;
        width: calc(100% - 30px);

        &__stopNo {
            flex: 1 0 auto;
            
            &__routeNo {

                &__time {
                    white-space: pre;
                }
            }
        }
    }

    &__intersection {
        text-align: center;
        padding: 15px;
        width: calc(100% - 30px);
        background: #ffe9ec;
        &__on {
            text-transform: uppercase;
            font-family: 'Oxygen', sans-serif;
        }
        &__at {
            text-transform: uppercase;
            font-family: 'Oxygen', sans-serif;
        }
    }

    &__line {
        background: var(--color-black);
        height: 1px;
        width: 100%;
    }

    &__expand {
        cursor: pointer;
        width: 100%;
        text-align: center;

        &:after {
            content: '▼';
        }
    }
}